@model PagedList.IPagedList<CollatzConjecture.Models.StartingNumber>
@using PagedList.Mvc;

@*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@
@*see ~/App_Start/BundleConfig.cs for details on why this is commented out*@

@{
    ViewBag.Title = "Index";
}

<h3>
    This page is a work in progress. To see the source, check out the <a href="https://github.com/VincentSaelzler/CollatzConjecture">Project on Github</a>
</h3>
<h3>
    For more on Collatz Conjecture, check out this <a href="https://www.youtube.com/watch?v=5mFpVDpKX70">Numberphile Video</a>
</h3>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p>
        Even Expression: @Html.TextBox("evenExp", ViewBag.CurrentEvenExp as string)
        Odd Expression: @Html.TextBox("oddExp", ViewBag.CurrentOddExp as string)
        <input type="submit" value="Search" />
    </p>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("The Number", "Index", new { sortOrder = ViewBag.TheNumSortParm, currentEvenExp = ViewBag.CurrentEvenExp, currentOddExp = ViewBag.CurrentOddExp })
        </th>
        <th>
            @Html.ActionLink("Number of Steps", "Index", new { sortOrder = ViewBag.NumStepsSortParm, currentEvenExp = ViewBag.CurrentEvenExp, currentOddExp = ViewBag.CurrentOddExp })
        </th>
        <th>
            Steps Graph
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TheNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumSteps)
            </td>
            <td>
                <canvas id="myChart@(item.TheNum)" width="100" height="100"></canvas>
                <script>
                    var ctx = document.getElementById("myChart@(item.TheNum)");
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: [ @item.LegendString],
                            datasets: [{
                                label: 'Collatz Series',
                                data: [ @item.StepsString],
                            }]
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: {
                                display: false
                            },
                            tooltips: {
                                //enabled: false
                            }
                        }
                    });
                </script>
            </td>
            @*UNDONE: Show drill down details on number
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.StartingNumberId }) |
                </td>*@
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentEvenExp = ViewBag.CurrentEvenExp, currentOddExp = ViewBag.CurrentOddExp }))